<!DOCTYPE html>
<html>
  <head>
    <link href="//<%=DOMAIN%>/stylesheets/bootstrap/bootstrap.css" media="screen, projection" rel="stylesheet" type="text/css">
    <link href="//<%=DOMAIN%>/stylesheets/bootstrap/responsive.css" media="screen, projection" rel="stylesheet" type="text/css">
    <link href="//<%=DOMAIN%>/stylesheets/main.css" media="screen, projection" rel="stylesheet" type="text/css">
  </head>
  <body style='background-color: whiteSmoke'>
    <ul class="thumbnails">
      <% @signatories.each do |signee| %>
        <li class="span4" style='background-color: white'>
          <a href="<%= signee['twitter_url'] %>" class="thumbnail">
            <img src="<%= signee['image'] %>" alt="<%= signee['nickname'] %>" class='pull-left' style='margin-right: 10px'>
            <strong><%= signee['name'] %></strong><br/>
            @<%= signee['nickname'] %>
            <div style='clear:left'></div>
          </a>
        </li>
      <% end %>
    </ul>    
  </body>
</html>
